<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="OcrLanguage" value="lit" />
    <add key="TessDataPath" value="../../tessdata" />
    <add key="FilterImageFiles" value="Image Files(*.PNG; *.JPG; *.GIF)| *.PNG; *.JPG; *.GIF" />
    <add key="SaveFilePath" value="C:\" />
    <add key="CategoriesDataPath" value="../../Categories.json" />
    <add key="UsersDataPath" value="../../Users.json" />
    <add key="ServerAdressAndPort" value="http://localhost:6967/" />
    <add key="EncryptionKey" value="marius" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
