/* Items table*/
.receipt-name { font-size: 25px; }

.receipt-address { color: #757575; }

.total-price { font-weight: 700; }

.nowrap { white-space: nowrap; }

.pagination { margin: 0; }

.extra-item-info:active { height: auto; }

/* Map hint*/

.map-hint {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: 48px;
    color: #fff;
    cursor: default;
    padding: 5px 15px;
    position: absolute;
    width: 200px;
    z-index: 98;
}

.map-hint-header {
    font-size: 28px;
    font-weight: 800;
    padding: 0;
    padding-bottom: 3px;
}

.map-hint-header2 {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    padding-bottom: 4px;
}

.map-hint-close-btn {
    cursor: pointer;
    padding: 0;
    text-align: right;
}

.map-hint-arrow {
    border: solid;
    border-color: #333 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 20px 14px 0 6px;
    bottom: 29px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* User map marker*/

.markerUser {
    display: block;
    height: 100px;
    left: -50px;
    position: absolute;
    top: -50px;
    width: 100px;
}

.pinUser {
    background: #057cff;
    background: rgba(5, 124, 255, 1);
    border: 2px solid #FFF;
    border-radius: 50%;
    height: 20px;
    left: 39px;
    position: relative;
    top: 39.5px;
    width: 20px;
    z-index: 1000;
}

.pinUser-effect {
    animation: pulsate 2400ms ease-out infinite;
    background: #057cff;
    background: rgba(5, 124, 255, 0.6);
    border-radius: 50%;
    display: block;
    height: 98px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 98px;
}

/* Place map marker*/

.pin {
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: both;
    -moz-animation-name: bounce;
    -moz-transform: rotate(-45deg);
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: both;
    -ms-animation-name: bounce;
    -ms-transform: rotate(-45deg);
    -o-animation-duration: 1s;
    -o-animation-fill-mode: both;
    -o-animation-name: bounce;
    -o-transform: rotate(-45deg);
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: bounce;
    -webkit-transform: rotate(-45deg);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounce;
    background: #4c71f6; /*#89849b; for gray*/
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -35px 0 0 -20px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
}

.pin:after {
    background: #2f2f2f;
    border-radius: 50%;
    content: '';
    height: 14px;
    margin: 8px 0 0 8px;
    position: absolute;
    width: 14px;
}

.pulse {
    -moz-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    -webkit-transform: rotateX(55deg);
    background: #000000;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 14px;
    left: 50%;
    margin: -4px 0 0 -12px;
    position: absolute;
    top: 50%;
    transform: rotateX(55deg);
    width: 14px;
    z-index: -2;
}

.pulse:after {
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-delay: 1.1s;
    -moz-animation-iteration-count: infinite;
    -moz-box-shadow: 0 0 1px 2px #4c71f6; /*#89849b; for gray*/
    -ms-animation: pulsate 1s ease-out;
    -ms-animation-delay: 1.1s;
    -ms-animation-iteration-count: infinite;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -o-animation: pulsate 1s ease-out;
    -o-animation-delay: 1.1s;
    -o-animation-iteration-count: infinite;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-delay: 1.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow: 0 0 1px 2px #4c71f6;
    animation: pulsate 1s ease-out;
    animation-delay: 1.1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #4c71f6;
    content: "";
    filter: alpha(opacity=0);
    height: 40px;
    margin: -13px 0 0 -13px;
    opacity: 0;
    position: absolute;
    width: 40px;
}

/* Pulsating effects (both user and place marker)*/

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    50% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    50% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@-o-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    50% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    50% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1.2, 1.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@-moz-keyframes bounce {
    0% {
        -moz-transform: translateY(-2000px) rotate(-45deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: translateY(-2000px) rotate(-45deg);
        -o-transform: translateY(-2000px) rotate(-45deg);
        -webkit-transform: translateY(-2000px) rotate(-45deg);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        -moz-transform: translateY(30px) rotate(-45deg);
        -ms-filter: none;
        -ms-transform: translateY(30px) rotate(-45deg);
        -o-transform: translateY(30px) rotate(-45deg);
        -webkit-transform: translateY(30px) rotate(-45deg);
        filter: none;
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        -webkit-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
}

@-webkit-keyframes bounce {
    0% {
        -moz-transform: translateY(-2000px) rotate(-45deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: translateY(-2000px) rotate(-45deg);
        -o-transform: translateY(-2000px) rotate(-45deg);
        -webkit-transform: translateY(-2000px) rotate(-45deg);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        -moz-transform: translateY(30px) rotate(-45deg);
        -ms-filter: none;
        -ms-transform: translateY(30px) rotate(-45deg);
        -o-transform: translateY(30px) rotate(-45deg);
        -webkit-transform: translateY(30px) rotate(-45deg);
        filter: none;
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        -webkit-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
}

@-o-keyframes bounce {
    0% {
        -moz-transform: translateY(-2000px) rotate(-45deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: translateY(-2000px) rotate(-45deg);
        -o-transform: translateY(-2000px) rotate(-45deg);
        -webkit-transform: translateY(-2000px) rotate(-45deg);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        -moz-transform: translateY(30px) rotate(-45deg);
        -ms-filter: none;
        -ms-transform: translateY(30px) rotate(-45deg);
        -o-transform: translateY(30px) rotate(-45deg);
        -webkit-transform: translateY(30px) rotate(-45deg);
        filter: none;
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        -webkit-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
}

@keyframes bounce {
    0% {
        -moz-transform: translateY(-2000px) rotate(-45deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-transform: translateY(-2000px) rotate(-45deg);
        -o-transform: translateY(-2000px) rotate(-45deg);
        -webkit-transform: translateY(-2000px) rotate(-45deg);
        filter: alpha(opacity=0);
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        -moz-transform: translateY(30px) rotate(-45deg);
        -ms-filter: none;
        -ms-transform: translateY(30px) rotate(-45deg);
        -o-transform: translateY(30px) rotate(-45deg);
        -webkit-transform: translateY(30px) rotate(-45deg);
        filter: none;
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        -webkit-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
}

/* Highlighting rules for nav menu items */

.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

.nav .glyphicon { padding-right: 8px; }

/* Rolling gif styles */

.loading.img-responsive { margin: 0 auto; }

/* Filter button padding*/

.filters { padding: 15px 7px 5px; }

/* Keep the nav menu independent of scrolling and on top of other items */

.main-nav {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/*logo properties*/

.logo {
    margin: 0 auto;
    max-height: 70%;
    max-width: 70%;
    padding-left: 30px;
    padding-right: 30px;
}

/*space bellow the logo in login screen*/

.loginLogo { padding-bottom: 20px; }

/*make the login button centered*/

.facebook { margin-left: 0 !important; }

/*space above registration form (needed when no logo)*/

.regForm { padding-top: 25px; }

/*Image upload button css*/

.btn-file {
    margin: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
}

.btn-file input[type=file] {
    background: white;
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/*item table css*/

.itemTable { font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif; }

.itemTable .center { text-align: center; }

/*buttons for forgot pass and register, made small and new line*/

.loginLinkButton {
    clear: right;
    float: right;
    font-size: 13px;
}

/*nav screen horizontal line*/

.widenSpace {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

/*ON SMALL SCREENS*/

@media (max-width: 767px) {
    .page-update {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body { padding-top: 50px; }

    /*Buttons in the login screen for reg and forg will be smaller*/
    .loginLinkButton {
        clear: right;
        float: right;
        font-size: 13px;
    }

    /*On small screens, margin between login button and Register button*/
    .marginTop {
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

/*ON BIG SCREENS*/

@media (min-width: 768px) {
    .page-update {
        font-size: 19px;
        padding-left: 60px;
        padding-right: 60px;
    }

    /*On big screens, margin between login button and Register button*/
    .marginTop {
        margin-bottom: 10%;
        margin-top: 10%;
    }

    /* On big screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25%);
    }

    .main-nav .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }

    .main-nav .navbar-header { float: none; }

    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0;
    }

    .main-nav .navbar ul { float: none; }

    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .main-nav .navbar li a {
        border-radius: 4px;
        padding: 10px 16px;
    }

    .main-nav .navbar a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* If a menu item's text is too long, truncate it */
        width: 100%;
    }

    .btn-file {
        margin: 15px;
        margin-left: 30%;
        margin-right: 30%;
        padding: 15px;
        position: center;
        width: 40%;
    }
}