@{
    ViewData["Title"] = "GREEDY";
}

<div id="react-app">
    <img style="position: absolute;
    top: 50%;
    left: 50%;
    height: 68px;
    transform: translateX(-50%) translateY(-50%);"
         class="img-responsive loading" src='../Rolling.gif' />
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>

    @*<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '132824064066510',
                cookie: true,
                xfbml: true,
                version: 'v2.00'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                console.log(response);//statusChangeCallback(response);
            });
        }
        //function(response)
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=132824064066510";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>*@

   
}
