<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.7" targetFramework="net461" />
  <package id="AutoMoq" version="2.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="1.4.0" targetFramework="net461" />
  <package id="Moq" version="4.7.127" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
  <package id="xunit" version="2.2.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net461" />
  <package id="xunit.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net461" />
</packages>